In [1]:
import numpy as np
import pandas as pd

## groupby

In [2]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North','west'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store Region  Sales  Quantity       Date
0        A    S1   East    100        10 2023-01-01
1        B    S1   West    200        15 2023-01-02
2        A    S2  North    150        12 2023-01-03
3        B    S2  South    250        18 2023-01-04
4        A    S1   East    120         8 2023-01-05
5        B    S2   West    180        20 2023-01-06
6        A    S2  North    200        15 2023-01-07
7        B    S1   west    300        25 2023-01-08

In [92]:
#group by category and calculatethe sum of sales

In [4]:
cat=df.groupby('Category') # u can't see cat after running, coz groupby dataframe nhi object create krta hai 
cat #Now cat is a GroupBy object, which groups your DataFrame based on the values in the 'Category' column (A and B).

In [5]:
for i, v in cat: # i=group_name(A,B)
    print(i)     # just for knowledge
    print(v)     # v=group_data will be a DataFrame containing only the rows where Category == group_name

A
  Category Store Region  Sales  Quantity       Date
0        A    S1   East    100        10 2023-01-01
2        A    S2  North    150        12 2023-01-03
4        A    S1   East    120         8 2023-01-05
6        A    S2  North    200        15 2023-01-07
B
  Category Store Region  Sales  Quantity       Date
1        B    S1   West    200        15 2023-01-02
3        B    S2  South    250        18 2023-01-04
5        B    S2   West    180        20 2023-01-06
7        B    S1   west    300        25 2023-01-08

In [18]:
agg=df.groupby('Category')['Sales'].sum() #here category ko [] me dalo ya nhi, kyuki single hai, 2 list hoti to user krte
agg # groupby create object u can't see, it will give series

Category
A    570
B    930
Name: Sales, dtype: int64

In [9]:
#groupby store and calculate the sum of sales, groupby use only when use aggregation

In [21]:
agg_df = df.groupby('Category')[['Sales']].sum()
agg_df # this is dataframe

          Sales
Category
A           570
B           930

In [22]:
agg1=df.groupby(['Store'])['Sales'].sum()
agg1

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [23]:
# Group by multiple columns
# Group by Category and Store, it happens with categoricxal data

In [26]:
df.groupby(['Category','Store'])['Sales'].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

## aggregation

In [27]:
df['Sales'].mean()

187.5

In [28]:
df['Sales'].min()

100

In [29]:
df['Sales'].median()

190.0

In [30]:
df['Sales'].max()

300

In [31]:
df['Sales'].std()

66.06274074155351

In [32]:
df['Sales'].count()

8

In [33]:
df['Sales'].agg(['mean','median','max','min','std'])

mean      187.500000
median    190.000000
max       300.000000
min       100.000000
std        66.062741
Name: Sales, dtype: float64

In [34]:
df.groupby('Region')['Sales'].agg(['sum', 'mean', 'count'])

        sum   mean  count
Region
East    220  110.0      2
North   350  175.0      2
South   250  250.0      1
West    380  190.0      2
west    300  300.0      1